<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
	<!-- 忽略将页面中的数字识别为电话号码 -->
	<meta name="format-detection" content="telephone=no" />
	<title>Document</title>
</head>
<body>
	<div id="main">
		<m-header></m-header>
		<div class="main_content">
			<div v-if="subject">
				<h1>{{subject.title}}</h1>
				<section class="subject-info">
					<div class="left">
						<div class="rating">
							<span v-if="subject.rating.average > 0">
								<i v-for="n in 5" :style="{color:n<=subject.rating.stars.charAt(0)?'yellow':'gray'}" class="iconfont icon-11"></i>
								<span>{{subject.rating.average}}</span>
								<span class="average">{{subject.ratings_count}}人评价</span>
							</span>
							<span v-else class="average">
								暂无评分
							</span>
						</div>
						<p class="meta">
							{{subject.durations?subject.durations+'分钟/':''}}
							剧情:{{subject.genres.join('/')}} /
							导演:<span v-for="director in subject.directors">{{director.name}}/</span>
							主演:<span v-for="cast in subject.casts">{{cast.name}}/</span>
							年:<span>{{subject.year}}</span>
							(<span v-for="countrie in subject.countries">{{countrie}}</span>)
						</p>
					</div>
					<div class="right">
						<img :src="subject.images.large">
					</div>
				</section>
				<section class="subject-intro">
					<h2>{{subject.title}}的剧情简介</h2>
					<div>
						<p class="txt-intro">
							{{subject.summary}}
						</p>
						<span class="expand">展开↓</span>
					</div>
				</section>
				<section class="subject-pics">
					<h2>{{subject.title}}的重要参与</h2>
					<div class="photo-list">
						<ul class="preview">	
							<li class="pic" v-for="director in subject.directors">
								<img :src="director.avatars.small">
								<span>{{director.name}}</span>
							</li>
							<li class="pic" v-for="cast in subject.casts">
								<img :src="cast.avatars.small">
								<span>{{cast.name}}</span>
							</li>
						</ul>
					</div>
				</section>
				<section class="subject-pics" v-if="recommend">
					<h2>喜欢{{subject.title}}也喜欢</h2>
					<div class="photo-list">
						<ul class="preview">	
							<li class="pic" v-for="subject in recommend.subjects" >
								<a :href="'details.html?id='+subject.id">
									<img :src="subject.images.small">
									<span>{{subject.title}}</span>
								</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
</body>
</html>